*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: ibm-plex-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  /* border: 1px solid red; */

}
body {
  overflow-x: hidden;
  position:relative;
  background-color: #0d101e;
}

html{
  overflow-x: hidden;
}
